body {
  background: linear-gradient(318deg, rgb(36, 43, 70) 0%, rgb(26, 50, 86) 14%, rgb(34, 78, 107) 36%, 
  rgb(26, 48, 82) 47%, rgb(24, 50, 78) 59%, rgb(34, 55, 74) 69%, 
  rgb(24, 49, 74) 76%, rgb(24, 51, 66) 85%, rgb(17, 46, 79) 100%);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body .btn {
background-color:  rgba(255, 255, 255, 0.85);
}

img.clickable {
  cursor: pointer;
}

body .btn:hover {
  background-color: rgba(255,255,255,0.95);
}

.steps .btn {
  background-color:  rgba(255, 255, 255, 0.75);
}

.steps .btn:hover {
  background-color: rgba(255,255,255,0.95);
}

.header .btn {
  font-weight: 400;
  color: rgba(0,0,0,0.85)
}

.header .btn:active {
  background-color: rgba(255,255,255,0.95);
}

.header .btn:visted {
  background-color: rgba(255,255,255,0.95);
}

.header .btn:focus {
  background-color: rgba(255,255,255,0.95);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-tabs .nav-link.active {
  background-color: rgba(0,0,0,0.01);
  border: 0.01vw solid rgba(0,0,0,0.05);
}

p {
  color: rgba(0,0,0,0.80)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
