body {
  background: rgb(100,90,255);
  background: radial-gradient(circle, rgba(100,90,255,1) 0%, rgba(90,86,255,1) 17%, rgba(91,91,255,1) 32%, rgba(33,139,182,1) 100%);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body .btn {
background-color:  rgba(255, 255, 255, 0.85);
}

body .btn:hover {
  background-color: rgba(255,255,255,0.95);
}

.steps .btn {
  background-color:  rgba(255, 255, 255, 0.75);
}

.steps .btn:hover {
  background-color: rgba(255,255,255,0.95);
}

.header .btn {
  font-weight: 400;
  color: rgba(0,0,0,0.85)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
