body {
  background: linear-gradient(318deg, rgb(36, 43, 70) 0%, rgb(26, 50, 86) 14%, rgb(34, 78, 107) 36%, 
  rgb(26, 48, 82) 47%, rgb(24, 50, 78) 59%, rgb(34, 55, 74) 69%, 
  rgb(24, 49, 74) 76%, rgb(24, 51, 66) 85%, rgb(17, 46, 79) 100%);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}



img.clickable {
  cursor: pointer;
}

.steps .btn {
  background-color:  rgba(255, 255, 255, 0.75);
}

.steps .btn:hover {
  background-color: rgba(255,255,255,0.95);
}

.header .btn {
  font-weight: 400;
  color: rgba(255,255,255,0.85);
  background-color: rgba(255,255,255,0.15);
}

.header .btn:hover {
  background-color: rgba(255,255,255,0.25);
}

.header .btn:focus {
  background-color: rgba(255,255,255,0.30);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.accordion-item {
  background-color: rgba(255,255,255,0.04);
  color: white;
  font-size: 1.0vw;
  border: unset;
}


.accordion-item .btn-group-vertical .btn {
  background-color: rgba(255,255,255,0.14);
  border: none;
padding:3%;
  margin:0;
  font-size: 1.0vw;
}

.accordion-item .btn-group-vertical .btn:hover {
  background-color: rgba(255,255,255,0.24);
}

.accordion-header {
  background-color: rgba(255,255,255,0.04);
  color: white;
}

.accordion-header button {
  font-size: 1.0vw;
}

.accordion-body {
  background-color: rgba(255,255,255,0.04);
  color: white
}

.accordion-button {
  background-color: rgba(255,255,255,0.04);
  color: white
}

.accordion-button:not(.collapsed) {
  background-color: rgba(255,255,255,0.2);
  color: white
}

.nav-tabs .nav-link {
  background-color: rgba(255,255,255,0.01);
  border: none;
  color: rgba(255,255,255,0.5)
}

.nav-tabs .nav-link:hover {
  background-color: rgba(255,255,255,0.05);
}

.nav-tabs .nav-link.active {
  background-color: rgba(255,255,255,0.1);
  border: none;
  color: rgba(255,255,255,0.75)
}

p {
  color: rgba(0,0,0,0.80)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
